.slidev-layout {
    @apply px-14 py-10 text-4xl leading-tight;
    font-weight: 600;

    li {
        @apply py-[0.4rem] leading-tight;
    }

    ul > li {
        list-style-type: disc;
    }

    ol > li {
        list-style-type: decimal;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    div {
        @apply select-none leading-tight;
        font-weight: 900;
    }

    h2 {
        @apply text-3xl text-gray-500;
        font-weight: 900;
    }

    p, h1 + p {
        @apply mt-0;
        font-weight: 900;
        /* by default, h1 + p is opacity: 0.5, so reset */
        opacity: 1;
    }
    

    h1 {
        @apply text-5xl;
        color: black;
    }

    pre,
    code {
        @apply text-3xl;
    }
}

.slidev-layout.section {
    h1 {
        font-weight: 900;
    }
}

.slidev-layout strong {
    color: #fe0000dc;
    font-weight: 900;
}

.slidev-layout.cover {
    background-color: #45b2c6;

    h1, p {
        color: #0b191fe5;
        line-height: 6rem;
    }
    
    h1 {
        font-size: 5rem;
    }

    h1 span {
        color: white;
        font-size: 7rem;
    }

    p {
        font-size: 3rem;
    }
}

div.slidev-layout.cover {
    padding: 0;
}